/* Alerts */

main {
  padding: 10px 16px;
}

.alerts ul {
    list-style-type: none;
    padding: 0;
}

.alert {
    display: flex;
    margin: 0 0.5rem;
    padding: 0.5rem 0 0.8rem 0;
    gap: 1em;
    border-bottom: 1px solid var(--bs-gray-500);
}

.alert h3 {
    margin: 0;
    font-size: 1.2em;
}

.alert p {
    margin: 0;
}

.alert svg {
    height: 30px;
    width: 30px;
    margin: 0.25em;
    flex: 0 0 auto;
}